@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a su Catalogo de Precios</h1>
    <p>Encuentre aca los Productos que Nuestros clientes mas Consumen y unete a nuetra comunidad</p>
</div>
