@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your Price Catalog</h1>
    <p>Find here the Products that Our Customers Consume the Most and join our community</p>
</div>
